body{
    padding: 0;
    margin: 0;
    /* background-color: bisque; */
    background-color: #cea474;
}

header{
    height: 10vh;
    /* background-color: orange; */
}

/* #topContent{
    background-color: aqua;
} */

#cornerLogo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cornerLogo img {
    max-width: 100%; 
    /* height: auto;  */
    padding: 0.2em;
}

section{
    margin-left: 4em;
    margin-right: 4em;
}

#contentArea{
    width: 100%;
    height: 100%;
    /* margin-left: 4em;
    margin-right: 4em; */
    margin-top: 3em;
    margin-bottom: 3em;
    
}

.foodCardArea{
    display: flex;
    flex-direction: row;
    /* background-color: #cea474; */
    background-color: bisque;
    /* margin-left: 1.5em;
    margin-right: 6em; */
    /* width: calc(100vw - 7.5em); */
    /* justify-content: center;
    align-items: center; */
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 8em);
}

/* .card{
    width: 18em;
} */
@media (min-width: 768px) {
    .custom-card-width {
        width: 18rem;
    }
}

.foodCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    /* background-color: aqua; */
    /* margin: 0.1em; */
}

/* .cardBody{
} */

/* .cardTitle{

} */

.card-text{
    height: 6em;
}

.title{
    height: 4em;
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding-left: 7em; */
    background-color: #a3d8b4;
    /* border-top: 0.1em solid green; */
    /* margin: 0em, 5em, 0em, 5em; */
    /* margin: 3em; */
    /* padding: -5em; */
    /* max-width: 100vw; */
    /* margin: 0em, 3em; */

    /* margin-left: 3em;
    margin-right: 4.5em; */
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 8em);

    
}

.cardMargin{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}



footer{
    height: 5vh;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    
}

#footerArea{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.socialMediaIcons{
    height: 1.5em;
    width: 1.5em;
}


